meeting_minutes/src/meeting_minutes/crews/gmail/tools/credentials.json
meeting_minutes/src/meeting_minutes/crews/gmail/tools/token.json
__pycache__/
.env
.DS_Store
04 - meeting_minutes/src/meeting_minutes/crews/gmail/tools/credentials.json
04 - meeting_minutes/src/meeting_minutes/crews/gmail/tools/token.json